<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin dashboard</title>
</head>

<body>
    <h1>Admin dashboard</h1>
    <button onclick="location.href='/empRegister'">Add new Employee</button>
    <button onclick="location.href='/addtask'">Add New Task</button>
    <button onclick="location.href='/showtask'">Show All Task</button>
    <button onclick="location.href='/showEmp'">Show All Employee</button>

    <button onclick="location.href='/'">Logout</button>
</body>

</html>