<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Employee Register</title>
</head>

<body>
    <h1> Add Your New Employee</h1>
    <form method="post">
        <table>
            <tr>
                <td>userName :</td>
                <td><input type="text" name="username"></td>
            </tr>
            <tr>
                <td>UserEmail :</td>
                <td><input type="text" name="useremail"></td>
            </tr>
            <tr>
                <td>Password :</td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td><button type="submit">Register A new Employee</button></td>
                <td>
                    <a href="/adminDashboard">back</a><br>
                </td>
            </tr>
        </table>
    </form>
</body>

</html>